/Java - Miner/Fraud Detection/nbproject/private/
/Java - Miner/TweetMiner/nbproject/private/
/Java Applications/TweetMiner/nbproject/private/
/Java Applications/TweetMiner/build/
/Java Applications/TweetMiner/dist/
/Java Applications/TweetMiner/twitter4j.properties
twitter4j.properties
mongo.properties
